{% extends 'base.html' %}

{% block content %}
<h2>
    {% if existing_log %}
        Edit Daily Log
    {% else %}
        Add Daily Log
    {% endif %}
    <small class="text-muted float-end">{{ current_date }}</small>
</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form method="POST">
    {{ form.hidden_tag() }}
    <!-- Form Fields -->
    <div class="mb-3">
        {{ form.achievements.label }}
        {{ form.achievements(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.issues.label }}
        {{ form.issues(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.opportunities.label }}
        {{ form.opportunities(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.next_day_tasks.label }}
        {{ form.next_day_tasks(class="form-control") }}
    </div>
    {% if existing_log %}
        {{ form.submit(class="btn btn-primary", value="Update Log") }}
    {% else %}
        {{ form.submit(class="btn btn-primary", value="Submit Log") }}
    {% endif %}
</form>

<!-- Modal -->
{% if show_modal %}
<div class="modal fade" id="logExistsModal" tabindex="-1" aria-labelledby="logExistsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="logExistsModalLabel">Daily Log Exists</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                You have already created an entry today.
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="{{ url_for('main.daily_logs') }}" class="btn btn-primary">Update Today's Logs</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{% if show_modal %}
<script>
    var myModal = new bootstrap.Modal(document.getElementById('logExistsModal'), {
        keyboard: false
    });
    window.addEventListener('load', function () {
        myModal.show();
    });
</script>
{% endif %}
{% endblock %}
